<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUser">
    Adduser+
  </button>

  <!-- Modal -->
  <div class="modal fade" #addUserModal id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserLabel">Add User</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" style="max-width: none">
          <form #userFrom="ngForm" (ngSubmit)="onFormSubmit()" id="userForm">
            <div class="mb-3">
              <!-- <label for="userId" class="form-label">Id</label> -->
              <input
                class="form-control"
                type="text"
                placeholder="User ID *"
                aria-label="Id"
                id="userId"
                name="userId"
                [(ngModel)]="model.id"
              />
            </div>

            <div class="row">
              <div class="col-8 col-sm-6">
                <div class="mb-3">
                  <!-- <label for="firstName" class="form-label">First Name</label> -->
                  <input
                    class="form-control"
                    type="text"
                    placeholder="First Name *"
                    aria-label="First Name"
                    id="userFirstName"
                    name="userFirstName"
                    [(ngModel)]="model.firstName"
                  />
                </div>
              </div>
              <div class="col-4 col-sm-6">
                <div class="mb-3">
                  <!-- <label for="lastName" class="form-label">Last Name</label> -->
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Last Name *"
                    aria-label="Last Name"
                    id="userLastName"
                    name="userLastName"
                    [(ngModel)]="model.lastName"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-4">
                <div class="mb-3">
                  <!-- <label for="firstName" class="form-label">First Name</label> -->
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Email ID *"
                    aria-label="Email ID"
                    id="userEmail"
                    name="userEmail"
                    [(ngModel)]="model.email"
                  />
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="mb-3">
                  <!-- <label for="lastName" class="form-label">Last Name</label> -->
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Mobile No"
                    aria-label="Mobile No"
                    id="userMobile"
                    name="userMobile"
                    [(ngModel)]="model.phone"
                  />
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="mb-3">
                  <!-- <label for="lastName" class="form-label">Role</label> -->
                  <select
                    class="form-select"
                    id="userRoleId"
                    name="userRoleId"
                    aria-label="roleId"
                    [(ngModel)]="model.roleId"
                  >
                    <option value="" selected disabled hidden>Role *</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                    <option value="3">Moderator</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-sm-4">
                <div class="mb-3">
                  <!-- <label for="firstName" class="form-label">Username</label> -->
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Username *"
                    aria-label="Username"
                    id="userUserName"
                    name="userUserName"
                    [(ngModel)]="model.userName"
                  />
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="mb-3">
                  <!-- <label for="lastName" class="form-label">Password</label> -->
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Password *"
                    aria-label="Password"
                    id="userPasseord"
                    name="userPassword"
                    [(ngModel)]="model.password"
                  />
                </div>
              </div>
              <div class="col-6 col-sm-4">
                <div class="mb-3">
                  <!-- <label for="lastName" class="form-label">Confirm Password</label> -->
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Confirm Password *"
                    aria-label="Confirm Password"
                    id="userConfirmPassword"
                    name="userConfirmPassword"
                  />
                </div>
              </div>
            </div>
            <div class="lable-permission">
              <table>
                <thead>
                  <tr>
                    <th>Module Permission</th>
                    <th></th>
                    <th>Read</th>
                    <th>Write</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Super Admin</td>
                    <td></td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userReadPermission"
                          name="userReadPermission"
                          [ngModel]="model.userPermissions[0].isReadable"
                          (ngModelChange)="onPermissionChange('read', $event)"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userWritePermission"
                          name="userWritePermission"
                          [ngModel]="model.userPermissions[0].isWritable"
                          (ngModelChange)="onPermissionChange('write', $event)"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userDeletePermission"
                          name="userDeletePermission"
                          [ngModel]="model.userPermissions[0].isDeletable"
                          (ngModelChange)="onPermissionChange('delete', $event)"
                        />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>User</td>
                    <td></td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userReadPermission"
                          name="userReadPermission"
                          [ngModel]="model.userPermissions[1].isReadable"
                          (ngModelChange)="onPermissionChange('read', $event)"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userWritePermission"
                          name="userWritePermission"
                          [ngModel]="model.userPermissions[1].isWritable"
                          (ngModelChange)="onPermissionChange('write', $event)"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userDeletePermission"
                          name="userDeletePermission"
                          [ngModel]="model.userPermissions[1].isDeletable"
                          (ngModelChange)="onPermissionChange('delete', $event)"
                        />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Moderator</td>
                    <td></td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userReadPermission"
                          name="userReadPermission"
                          [ngModel]="model.userPermissions[2].isReadable"
                          (ngModelChange)="onPermissionChange('read', $event)"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userWritePermission"
                          name="userWritePermission"
                          [ngModel]="model.userPermissions[2].isWritable"
                          (ngModelChange)="onPermissionChange('write', $event)"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="userDeletePermission"
                          name="userDeletePermission"
                          [ngModel]="model.userPermissions[2].isDeletable"
                          (ngModelChange)="onPermissionChange('delete', $event)"
                        />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Inside your form -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
              <button type="button" class="btn" data-bs-dismiss="modal">
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
